*, *:before, *:after {
    box-sizing: inherit;
  }
  
  * {
    scroll-behavior: smooth;
    padding: 0;
  }

  body {
    background: rgb(20,81,63);
    background: -moz-linear-gradient(270deg, rgba(20,81,63,1) 0%, rgba(57,169,68,1) 55%, rgba(228,232,20,1) 100%);
    background: -webkit-linear-gradient(270deg, rgba(20,81,63,1) 0%, rgba(57,169,68,1) 55%, rgba(228,232,20,1) 100%);
    background: linear-gradient(270deg, rgba(20,81,63,1) 0%, rgba(57,169,68,1) 55%, rgba(228,232,20,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#14513f",endColorstr="#e4e814",GradientType=1);
    margin: 0;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    overflow-x: hidden;
  }

  /* @media  {
    
  } */

  .input_header {
    background-image: url('https://media.cdn.adultswim.com/uploads/20210628/thumbnails/2_21628714375-RickMorty_Inside502.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 20rem;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  .input_div{
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }

  .input_img {
    width: 69%;
    max-height: 10rem;
    object-fit: cover;
  }

  .input_form {
    width: 290px;
    height: 25px;
  }

  .input_input {
    border: none;
    background-color: #1b1919cf;
    color: #cfde3a;
    font-weight: 700;
    border-radius: 10px;
    margin-right: 7px;
    box-shadow: 3px 5px 10px 3px #ffffff7a;
  }

  .input_btn{
    border: none;
    background-color: #000000;
    color: #cfde3a;
    border-radius: 10px;
    box-shadow: 0px 1px 20px 3px #ffffff7a;
  }

.location_card {
    background-color: #0000009e;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    height: 170px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: #ecff32;
}

.location_ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.location_span{
    font-weight: 500;
}

.card_container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card_article {
    color: #ecff32;
    border-radius: 10px;
    background-color: #0000009e;
    padding: 8px;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 15px;
    box-shadow: 15px 17px 20px -15px #f7f7f794;
}

.card_img {
    position: relative;
}

.card_article img {
    width: 300px;
    height: 300px;
    border-radius: 10px;
}

.card_ul {
    list-style: none;
}

.card_status {
    color: #ecff32;
    background-color: #0000009e;
    border-radius: 5px;
    padding: 2px;
    position: absolute;
    top: 3%;
    left: -2%;
    font-weight: 600;
}

@media (min-width: 450px) {

  .input_img {
    width: 69%;
    max-height: 18rem;
    object-fit: cover;
  }

  .input_header {
    width: 100vw;
    height: 65vh;
  }

  .location_card {
    background-color: #0000009e;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 95vw;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 25px;
    color: #ecff32;
}

.input_form {
    height: 35px;
    top: -68px;
    left: 675px;
    width: 290px;
    display: flex;
}


} 

@media (min-width: 1200px) {

  .input_img {
    width: 69%;
    max-height: 20rem;
    object-fit: cover;
  }

  .input_header {
    width: 100vw;
    height: 65vh;
  }

  .location_card {
    background-color: #0000009e;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
    height: 170px;
    width: 95vw;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-right: 25px;
    color: #ecff32;
}

.input_form {
    height: 35px;
    top: -68px;
    left: 675px;
    width: 290px;
    display: flex;
}


} 

@media (min-width: 900px) {
  .location_card {
    flex-direction: row;
    gap: 30px;
  }

  .location_ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

}

.Dead {
  color: rgb(255, 68, 68);
}

.Alive{
  color: rgb(0, 101, 0);
}

.unknown{
  color: rgb(110, 107, 107);
}
  